@font-face {
  font-family: Souvenir;
  src: url(https://memehouse.github.io/Souvenir.otf);
}

body {
  background-color: black;
}

.titletext {
  margin: auto;
  text-align: center;
  font-family: Souvenir;
  color: white;
  font-size: 100px;
  padding-top: 50px;
  padding-bottom: 125px;
  letter-spacing: 0.025em;
    text-shadow: 5px 5px 0px #46b59b, 
                  10px 10px 0px #017e7f, 
                  15px 15px 0px #052939, 
                  20px 20px 0px #000712;
}

.centered {
  margin: auto;
  text-align: center;
}

.lastdayofschool {
  text-decoration: none;
  font-family: Roboto;
  color: #ffd54f;
  font-size: 50px;
  letter-spacing: .075em;
  padding: 0px 20px 0px 20px;
  transition-duration: 0.75s;
}

.lastdayofschool:hover {
  background-color: #ffd54f;
  color: black;
  transition-timing-function: ease;
}
