@font-face {
  font-family: Margin;
  src: url(https://memehouse.github.io/Souvenir.otf);
}

body {
  align-items: center;
  background-color: #9c442a;
}

.maintext {
  font-family: Margin;
  color: white;
  font-size: 125px;
  text-align: centered;
}

