body {
  background-color: #52396e;
}

@font-face {
  font-family: Margin;
  src: url(https://memehouse.github.io/Margin.otf);
}

.centered {
  margin: auto;
  width: 50%;
}

.maintext {
  font-family: Margin;
  color: white;
  font-size: 150px;
}

