body {
  background-color: #52396e;
}

@font-face {
  font-family: Margin;
  src: url(https://memehouse.github.io/Margin.otf);
}

.maintext {
  font-family: Margin;
  color: white;
  font-size: 175px;
}

