@font-face {
  font-family: Souvenir;
  src: url(https://memehouse.github.io/Souvenir.otf);
}

body {
  align-items: center;
  background-color: #9c442a;
}

.titletext {
  margin: auto;
  font-family: Souvenir;
  color: white;
  font-size: 125px;
  text-align: centered;
}


