body {
  background-image: linear-gradient(75deg, #000428, #004e92);
}

@font-face {
  font-family: Margin;
  src: url(https://memehouse.github.io/Margin.otf);
}

.centered {
  margin: auto;

.maintext {
  font-family: Margin;
  color: white;
  font-size: 150px;
  text-align: centered;
}

