@font-face {
  font-family: Souvenir;
  src: url(https://memehouse.github.io/Souvenir.otf);
}

body {
  background-color: #9c442a;
}

.titletext {
  margin: auto;
  width: auto;
  text-align: center;
  font-family: Souvenir;
  color: white;
  font-size: 125px;
}


