@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
}

span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #1351EC;
  font-size: 62px;
  letter-spacing: 4px;
  cursor: pointer;
}

span::before {
  content: "Coming soon!";
  position: absolute;
  color: transparent;
  text-align: center;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 1px,
    white 1px,
    white 2px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "Coming soon!";
  position: absolute;
  color: transparent;
  text-align: center;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 1px,
    white 1px,
    white 2px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 5px;
  left: 5px;
}

span:hover:after {
  top: -5px;
  left: -5px;
} 

