@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
}

span {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  display: block;
  color: #1351EC;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

span::before {
  content: "Quick Links";
  position: absolute;
  color: transparent;
  text-align: center;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "Quick Links";
  position: absolute;
  color: transparent;
  text-align: center;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 

